body {
    background-color: #222831;
    font-family: "PT Sans";
    color: whitesmoke;
}

.center {
    text-align: center;
}

.header {
    background-image: url(images/bg.jpg);
    background-size: cover;
    object-fit: cover;
    display: inline-block;
    background-position: center;
    width: 100%;
}

.header a {
    text-decoration: none;
}

.phardin {
    margin: 0 0 0 0;
    font-family: "Righteous";
    font-size: 20px;
    color: white !important;
}

.welcome {
    text-shadow: 0 0 15px black;
    margin: 70px 10px 30px 10px;
    font-family: "Dosis";
    font-size: 35px;
}

.workContainer h3 {
    margin: -30px 0 30px 0;
    background-color: #393e46;
    padding: 35px 5px;
}

.samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sampleContainer {
    width: 90%;
    border: 2px solid #393e46;
    display: inline-block;
    margin: 0 0 30px;
    border-radius: 10px;
}

.sampleImage {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.sampleTitle {
    background-color: #393e46;
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
}

@media only screen and (min-width: 480px) {
    .phardin {
        font-size: 30px;
    }

    .welcome {
        font-size: 50px;
        margin: 100px 10px 70px;
    }

    .sampleTitle {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .phardin {
        font-size: 30px !important;
    }

    .welcome {
        font-size: 70px !important;
        margin: 130px 10px 90px;
    }

    .sampleContainer {
        width: 350px;
        margin: 0 10px 30px;
        transition: .2s;
    }

    .sampleContainer:hover {
        transform: scale(1.06);
    }
}

@media only screen and (min-width: 992px) {
    .welcome {
        font-size: 80px !important;
        margin: 150px 10px 120px !important;
    }

    .workContainer h3 {
        margin: -30px 0 40px 0;
        background-color: #393e46;
        padding: 40px 5px;
        font-size: 25px;
    }

    .sampleContainer {
        width: 300px;
    }

    .sampleContainer:hover {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 1200px) {
    .phardin {
        font-size: 35px !important;
    }

    .welcome {
        font-size: 90px !important;
        margin: 140px 10px 100px;
    }

    .sampleContainer {
        width: 330px;
        margin: 20px 20px 30px;
    }
}
